*,
*::before,
*::after {
  box-sizing: inherit;
  border: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  background: var(--greyLight-1);
  @media screen and (min-width: 900px) {
    font-size: 75%;
  }
}
body {
  // height: 100vh;
  // width: 100vw;
  // padding: 3rem;
  box-sizing: border-box;
}
